## Exercise 1

### Question 1:

In [1]:
import pandas as pd
import numpy as np

In [2]:
star = pd.read_csv("STAR.csv")

In [3]:
star.head()

   race  classtype  yearssmall  hsgrad  g4math  g4reading
0   1.0          3           0     NaN     NaN        NaN
1   2.0          3           0     NaN   706.0      661.0
2   1.0          3           0     1.0   711.0      750.0
3   2.0          1           4     NaN   672.0      659.0
4   1.0          2           0     NaN     NaN        NaN

In [4]:
star['kinder'] = ''
star.loc[star['classtype'] == 1, 'kinder'] = 'small'
star.loc[star['classtype'] == 2, 'kinder'] = 'middle'
star.loc[star['classtype'] == 3, 'kinder'] = 'large'

In [5]:
star['kinder'].value_counts()

large     2231
middle    2194
small     1900
Name: kinder, dtype: int64

In [6]:
conditions = [
              (star['race'] == 1),
              (star['race'] == 2), 
              (star['race'] == 3),
]

choices = ['white', 'black', 'hispanic']

star['race'] = np.select(conditions, choices, 'others')

In [7]:
star['race'].value_counts()

white       4234
black       2058
others        19
hispanic      14
Name: race, dtype: int64

### Question 2:

In [8]:
small = star[star['kinder'] == 'small']
middle = star[star['kinder'] == 'middle']
large = star[star['kinder'] == 'large']

In [9]:
# math scores
small['g4math'].mean(), middle['g4math'].mean(), large['g4math'].mean()

(709.1851351351352, 709.521377672209, 707.6334563345633)

In [10]:
# reading scores
small['g4reading'].mean(), middle['g4reading'].mean(), large['g4reading'].mean()

(723.3911845730028, 719.88995215311, 720.7155499367889)

In [11]:
# standard deviation for math scores
for size in [small, middle, large]:
    print(size['g4math'].std())

43.57317949023624
41.02063103214946
44.74372523897305

In [12]:
# standard deviation for reading scores
for size in [small, middle, large]:
    print(size['g4reading'].std())

51.54494394525024
53.16788319193722
52.44262686330433

### Question 3:

In [13]:
# quantile for math
small['g4math'].quantile([0.33, 0.66])

0.33    694.0
0.66    726.0
Name: g4math, dtype: float64

In [14]:
middle['g4math'].quantile([0.33, 0.66])

0.33    696.0
0.66    724.0
Name: g4math, dtype: float64

In [15]:
# quantile for reading
for size in [small, middle]:
    print(size['g4reading'].quantile([0.33, 0.66]))

0.33    705.0
0.66    741.0
Name: g4reading, dtype: float64
0.33    705.0
0.66    740.0
Name: g4reading, dtype: float64

### Question 4:

In [16]:
# contingency table
size_years_tab = pd.crosstab(star['kinder'], star['yearssmall'], 
                             colnames = ['year'], rownames=['size'])
size_years_tab

year       0    1    2    3    4
size
large   1996   97   60   78    0
middle  1961   95   58   80    0
small      0  576  272  195  857

In [17]:
# Compare the average and median reading and math test scores across students 
# who spent different numbers of years in small classes
small.groupby('yearssmall')['g4math'].mean()

yearssmall
1    703.000000
2    699.142857
3    704.500000
4    710.051908
Name: g4math, dtype: float64

In [18]:
small.groupby('yearssmall')['g4math'].median()

yearssmall
1    706.0
2    712.0
3    707.0
4    711.0
Name: g4math, dtype: float64

In [19]:
small.groupby('yearssmall')['g4reading'].mean()

yearssmall
1    724.666667
2    700.571429
3    709.148148
4    724.665109
Name: g4reading, dtype: float64

In [20]:
small.groupby('yearssmall')['g4reading'].median()

yearssmall
1    724.5
2    711.0
3    707.0
4    726.0
Name: g4reading, dtype: float64

### Question 5:

In [21]:
# compare the average reading and math test scores for between different racial groups 
# in small and middle size classes
# between white and minority students
small.groupby('race')['g4math'].median()

race
black       694.0
hispanic    698.0
others      744.0
white       713.0
Name: g4math, dtype: float64

In [22]:
middle.groupby('race')['g4reading'].median()

race
black       695.5
hispanic    750.0
others        NaN
white       726.0
Name: g4reading, dtype: float64

In [23]:
small.groupby('race')['g4math'].median()

race
black       694.0
hispanic    698.0
others      744.0
white       713.0
Name: g4math, dtype: float64

In [24]:
middle.groupby('race')['g4reading'].median()

race
black       695.5
hispanic    750.0
others        NaN
white       726.0
Name: g4reading, dtype: float64

### Question 6:

In [25]:
# Compare high-school graduation rates across students assigned to different class types
star.groupby('kinder')['hsgrad'].mean()

kinder
large     0.839286
middle    0.825162
small     0.835920
Name: hsgrad, dtype: float64

In [26]:
# examine whether graduation rates differ 
# depending on the number of years spent in small classes.
star.groupby('yearssmall')['hsgrad'].mean()

yearssmall
0    0.828602
1    0.791045
2    0.813187
3    0.832461
4    0.877551
Name: hsgrad, dtype: float64

In [27]:
# investigate whether the STAR program has reduced the racial gap 
# between white and minority students’ graduation rates.
star.groupby('race')['hsgrad'].mean()

race
black       0.739290
hispanic    0.833333
others      1.000000
white       0.867627
Name: hsgrad, dtype: float64